In [1]:
import pandas as p

In [2]:
import numpy as np

In [3]:
import importlib

In [4]:
import covid

In [5]:
import states

In [4]:
%matplotlib inline

In [36]:
importlib.reload(states)

In [15]:
cd = covid.CovidData('/Users/dd/gitcode/')

In [11]:
a = states.analyze('/Users/dd/gitcode/')

In [22]:
a.to_csv('results/states-20200321.csv')

In [12]:
a

,confirmed,confirmed/1M,deaths,deaths/1M,pct_change_3day,pct_change_3day_prev
state,,,,,,
AK,12,16.403639,0,0.000000,0.611111,0.666667
AL,83,16.927772,0,0.000000,0.313081,0.920498
AR,96,31.810990,0,0.000000,0.642392,0.236111
AZ,78,10.716174,0,0.000000,0.583333,0.193020
CA,1177,29.788251,23,0.582098,0.193306,0.271198
CO,363,63.034666,4,0.694597,0.321968,0.172801
CT,194,54.413572,3,0.841447,0.519454,0.535859
DC,71,100.602339,1,1.416934,0.491471,0.325000
DE,38,39.023829,0,0.000000,0.344371,0.436508
FL,563,26.213190,10,0.465598,0.377283,0.418177
GA,420,39.557621,13,1.224403,0.422880,0.309611
HI,26,18.363242,0,0.000000,0.389286,0.365079
IA,45,14.262758,0,0.000000,0.266946,0.112200
ID,23,12.869674,0,0.000000,0.479377,0.700000
IL,585,46.165425,5,0.394576,0.665802,0.371830
IN,86,12.774391,2,0.297079,0.423932,0.233333
KS,44,15.103075,1,0.343252,0.394336,0.337121
KY,47,10.520018,2,0.447660,0.226367,0.238889
LA,538,115.728940,14,3.011534,0.402988,0.372500
MA,413,59.428710,1,0.143895,0.254578,0.165408
MD,149,24.645697,1,0.165407,0.356005,0.325145
ME,56,41.660095,0,0.000000,0.209173,1.433007
MI,552,55.272645,3,0.300395,1.317905,0.384159
MN,115,20.391401,0,0.000000,0.243771,0.440212
MO,53,8.635539,2,0.325869,0.689421,0.427778
MS,80,26.880375,1,0.336005,0.563212,0.527350
MT,15,14.034720,0,0.000000,0.195286,0.228571
NC,172,16.399564,0,0.000000,0.416422,0.403575
ND,19,24.932355,0,0.000000,1.018519,0.666667
NE,37,19.127299,0,0.000000,0.209018,0.146592
NH,44,32.359818,0,0.000000,0.407240,0.443834
NJ,890,100.200514,11,1.238433,0.659496,0.578872
NM,43,20.507156,0,0.000000,0.250104,0.320211
NV,114,37.011112,1,0.324659,0.303139,0.420767
NY,8310,427.171149,42,2.158988,0.720571,0.493181
OH,173,14.800113,2,0.171100,0.373695,0.371476
OK,49,12.383209,1,0.252719,0.476475,0.692857
OR,114,27.028712,3,0.711282,0.206625,0.300214
PA,303,23.668197,1,0.078113,0.394427,0.341822
PR,14,4.383639,0,0.000000,0.600000,0.222222
RI,54,50.974125,0,0.000000,0.331796,0.048413
SC,126,24.472130,1,0.194223,0.426320,0.358833
SD,14,15.825307,1,1.130379,0.090909,0.070370
TN,233,34.098356,0,0.000000,0.509974,0.325053
TX,394,13.588137,5,0.172438,0.530334,0.245944
UT,78,24.329701,0,0.000000,0.181209,0.833516
VA,122,14.293214,2,0.234315,0.222430,0.184599
VT,29,46.475178,2,3.205185,0.346801,0.366667
WA,1524,200.134132,83,10.899694,0.135646,0.240100
WI,207,35.552142,3,0.515248,0.435975,0.395283
WV,7,3.906108,0,0.000000,1.166667,inf
WY,19,32.828863,0,0.000000,0.206397,1.055556
US,19011,57.703595,244,0.740607,0.458774,0.337173

In [20]:
cd.confirmed_us.to_csv ('~/Desktop/confirmed_us.csv')

In [21]:
cd.confirmed_countries.to_csv ('~/Desktop/confirmed_countries.csv')

In [14]:
df.iloc[-6:-3]

   A  B
2  a  3
3  b  4
4  b  5